@import "./Auth.css";

:root {
  --green: #d5ef6b;
  --red: #f31a58;
  --complete-label-background: linear-gradient(to top, #f279ac, #f3ca70);
  --label-border-color: #fff;
  --button-font-size: clamp(0.8rem, 1.2vw + 2px, 1.4rem);
  --check-label-padding: 0px 10px;
}
.light {
  --complete-label-background: linear-gradient(to top, #ffffff, #fff);
  --label-border-color: #ffffff;
}

header {
  padding: 1rem;
  margin: 1rem auto 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.username {
  font-size: clamp(1.3rem, 1.2vw + 5px, 1.5rem);
}
.logout--btn {
  background: var(--pink);
  padding: 8px 12px;
  border-radius: 2px;
  font-size: clamp(0.95rem, 1vw + 5px, 1.1rem);
  color: #fff;
  font-weight: 600;
}
.logout--btn:hover {
  filter: brightness(70%);
}

button,
input {
  border: none;
  outline: none;
  transition: 0.3s linear;
}
button {
  cursor: pointer;
}

.mode--btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: #fff;
  font-size: clamp(1.5rem, 1.8vw + 5px, 2.2rem);
}
.mode--btn:hover {
  color: var(--pink);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.todos--container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 3rem 0;
  width: clamp(350px, 95%, 560px);
  align-items: center;
}

.todo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  justify-content: space-between;
  width: 95%;
  padding: 1rem;
  border-radius: 5px;
  background: #252935;
  font-size: clamp(1.1rem, 1.2vw, 1.3rem);
  font-weight: bolder;
  transition: 0.3s linear;
}
.todo::before {
  z-index: -1;
  position: absolute;
  content: "";
  inset: -1px;
  border-radius: 5px;
  background: linear-gradient(245deg, #36caf3, rgb(255, 0, 123));
}

.completed {
  transform: scale(0.9);
  opacity: 0.6;
}
.todo::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 93%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  height: 2px;
  background: #9b9b9b;
  transition: 0.3s linear;
}

.completed::after {
  transform: translateX(-50%) scale(1);
}
.completed::before {
  z-index: -1;
  opacity: 0;
}

/* checkBox */
.todo--check {
  appearance: none;
}
.complete--container label {
  border: 1px solid var(--label-border-color);
  border-radius: 50%;
  padding: var(--check-label-padding);
  /* width: 15px;
  height: 15px; */
  background: transparent;
  cursor: pointer;
  transition: 0.3s linear;
}
.todo--check:checked + label {
  background: var(--complete-label-background);
}

.todo p {
  font-size: clamp(0.9rem, 1vw + 4px, 1rem);
  font-weight: 500;
}

.button--container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.edit--btn,
.remove--btn {
  padding: 8px;
  background: transparent;
  border: 1px solid var(--green);
  border-radius: 2px;
  color: var(--green);
  font-size: var(--button-font-size);
  cursor: pointer;
}
.remove--btn {
  color: var(--red);
  border-color: var(--red);
}

.edit--form {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.edit--form input,
.edit--form button {
  padding: 10px;
}
.edit--form button {
  padding: 8px 10px;
  font-size: 1rem;
  background: #44f02d;
  color: #141313;
  border-radius: 3px;
}

@media (hover: hover) {
  .edit--btn:hover {
    --orange: #f75050;
  }
  .remove--btn:hover {
    --red: #f652f6;
  }
  .edit--form button:hover {
    background: #2df0bf;
  }
}

@media Screen and (width >= 750px) {
  :root {
    --check-label-padding: 0 10px;
  }
}

@media Screen and (width >= 1000px) {
  :root {
    --check-label-padding: 0 12px;
  }
}
